
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <ul class="nav nav-tabs" style="margin-top:10px">
        <% var tabs = ['ECS', 'AS', 'EVS','IMS','Backup', 'OBS', 'SFS', 'VPC']; %>
        <% for(var i=0; i<tabs.length; i++) {%>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu<%=i%>"><%=tabs[i]%></a>
            </li>
        <% } %>
      </ul>
      
      <div class="container-fluid">
        <div class="tab-content" style="margin-top:10px">
          <div role="tabpanel" class="tab-pane fade show active" id="menu0">
              <div class="">ECS</div>
          </div>
          <div role="tabpanel" class="tab-pane fade show" id="menu1">
              <div class="">AS</div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="menu2">
              <div class="">EVS</div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="menu3">
              <div class="">IMS</div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="menu4">
              <div class="">Backup</div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="menu5">
              <div class="">OBS</div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="menu6">
              <div class="">SFS</div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="menu7">
              <div class="">VPC</div>
          </div>

        </div>
      </div>  
</div>
      

</body>
